body {
    margin: 0 auto;
    height: 100vh;
}
.block-one {
    display: flex;
    justify-content: space-around;
}
/* .icon {
    size: 20px;
} */
#locate-card {
    width: 1000px;
    background: rgba(230, 230, 255, 0.178);
}
.time-card {
    display: inline-block;
    width: 700px;
}
.block-two {
    width: 450px;
    height: 700px;
    background: #5555553f;
}
.astronaut {
    background: rgba(246, 218, 4, 0.055);
}